@if (!isPopupVisible()) {
  <app-page-title [data]="breadCrumbs"/>
}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-12">
            <div class="mb-3">
              <label class="form-label">Subject name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="subject().name"
                     placeholder="Enter subject name" required>
            </div>
            <div class="mb-3 mt-3 mt-xl-0">
              <label class="mb-0">Image</label>

              <div class="d-flex justify-content-between row w-100">
                <div class="container-upload col-6 flex-column align-items-start"
                     (drop)="fileService.handleDrop($event)"
                     (dragover)="fileService.allowDrop($event)">
                  <div class="upload-box">
                    <div class="content">
                      <div class="upload-icon" (drop)="fileService.handleDrop($event)"
                           (dragover)="fileService.allowDrop($event)">
                        <i class="mdi mdi-cloud-upload text-dark" style="height: 100px; width: 100px;"></i>
                      </div>
                      <h5 class="text-dark" (drop)="fileService.handleDrop($event)"
                          (dragover)="fileService.allowDrop($event)">
                        Drag and drop file here
                      </h5>
                      <p>Or</p>
                      <div class="upload-btn-wrapper">
                        <button class="btn btn-gradient-primary-2">Upload</button>
                        <input type="file" name="file" (change)="fileService.handleFileInput($event)"
                               (drop)="fileService.handleDrop($event)"
                               (dragover)="fileService.allowDrop($event)"/>
                      </div>
                    </div>
                  </div>
                  <!-- file preview template -->
                  @if (fileService.fileData) {
                    <div class="w-100" id="uploadPreviewTemplate w-100">
                      <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <img data-dz-thumbnail [src]="fileService.mFile.url" class="avatar-sm rounded bg-light"
                                   alt="">
                            </div>
                            <div class="col ps-0">
                              <a href="javascript:void(0);" class="text-muted fw-bold"
                                 data-dz-name>{{ fileService.mFile.name }}</a>
                              <p class="mb-0" data-dz-size>{{ fileService.mFile.size }} KB</p>
                            </div>
                            <div class="col-auto">
                              <!-- Button -->
                              <a href="javascript:void(0)" (click)="clearUpload()"
                                 class="btn btn-link btn-lg text-muted" data-dz-remove>
                                <i class="dripicons-cross"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                  <!-- end file preview template -->
                </div>
                @if (subject().icon) {
                  <div class="col-4">
                    <p>Original Image</p>
                    <div class="upload-preview">
                      <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <img [src]="subject().icon" class="avatar-xl rounded bg-light" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div> <!-- end col-->
        </div>
        <!-- end row -->
        <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
      </div> <!-- end card-body -->
    </div> <!-- end card-->
  </div> <!-- end col-->
</div>
