<div class="row">
  <div class="col-12">
    <div class="card m-0">
      <div class="card-header">
        <h4 class="card-title">Exam List</h4>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-7 d-flex align-items-center">
            <span class="me-2">Search:</span>
            <ng-select [items]="dataExam"
                       class="w-100"
                       bindLabel="name"
                       bindValue="testId"
                       [multiple]="true"
                       groupBy="selectedAllGroup"
                       [selectableGroup]="true"
                       placeholder="Select exam"
                       [(ngModel)]="selectedExam">
            </ng-select>
            <button type="button" class="btn btn-primary ms-3" (click)="addExam()">Add</button>
          </div><!-- end col-->
        </div>

        <div class="table-responsive">
          <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
            <thead class="table-light">
            <tr>
              <th class="all">No</th>
              <th>Exam ID</th>
              <th>Exam name</th>
              <th style="width: 85px;">Action</th>
            </tr>
            </thead>
            <tbody>
              @for (item of data.contents; track item; let i = $index) {
                <tr>
                  <td>{{ ((data.page - 1) * data.size) + (i + 1) }}</td>
                  <td>
                    <p class="m-0 d-inline-block align-middle font-16">
                      {{ item.testId }}
                    </p>
                  </td>
                  <td>{{ item.name }}</td>
                  <td class="table-action" style="width: 15%;">
                    <a href="javascript:void(0);" class="btn btn-danger text-decoration-none" (click)="delete(item)"> <i
                      class="mdi mdi-minus-circle"></i>Delete</a>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td class="text-center" colspan="9">No records found.</td>
                </tr>
              }
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <pagination [totalItems]="data.totalRecords" [(ngModel)]="data.page" [itemsPerPage]="data.size"
                        [maxSize]="5"
                        [boundaryLinks]="true" [directionLinks]="true" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col -->
</div>


<ng-template #exam_fail>
  <div class="alert alert-danger m-0" role="alert">
    <strong>List exam add is exist: </strong> {{ listExamFail?.join(', ') }}
  </div>
</ng-template>
