<footer class="footer">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-3">
        {{ currentYear }}
        © QuizUEAT. All Rights Reserved.
      </div>
      <div class="col-md-9 d-flex justify-content-between">
        <img ngSrc="assets/images/footer_150_45.png" alt="" style="width: 150px; height: 100%; object-fit: contain;"
             class="me-2"
             height="45" width="150">
        <p>Đường Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
        <p>email: tuyensinh&#64;eaut.edu.vn</p>
        <p>Đại học Công Nghệ Đông Á</p>
      </div>
    </div>
  </div>
</footer>

