<div class="auth-fluid">
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        <div class="auth-brand text-center text-lg-start">
          <a href="/" class="logo-dark">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
          <a href="/" class="logo-light">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
        </div>

        <h4 class="mt-0">Đăng ký miễn phí</h4>
        <p class="text-muted mb-4">
          Chưa có tài khoản? Tạo tài khoản của bạn, chỉ mất chưa đầy một phút
        </p>

        <form action="#">
          <div class="mb-3">
            <label for="firstName" class="form-label">Họ</label>
            <input class="form-control" type="text" id="firstName" placeholder="Nhập họ" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Tên</label>
            <input class="form-control" type="text" id="lastName" placeholder="Nhập tên" required>
          </div>
          <div class="mb-3">
            <label for="emailaddress" class="form-label">Email </label>
            <input class="form-control" type="email" id="emailaddress" required placeholder="Nhập email của bạn">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input class="form-control" type="password" required id="password" placeholder="Nhập mật khẩu">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkbox-signup">
              <label class="form-check-label" for="checkbox-signup">Tôi đồng ý với các
                <a href="javascript: void(0);"
                   class="text-muted">Điều khoản và điều
                  kiện</a></label>
            </div>
          </div>
          <div class="mb-0 d-grid text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-account-circle"></i> Đăng ký</button>
          </div>
          <!-- social-->
          <div class="text-center mt-4">
            <p class="text-muted font-16">Sign up using</p>
            <ul class="social-list list-inline mt-3">
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                  class="mdi mdi-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                  class="mdi mdi-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                  class="mdi mdi-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                  class="mdi mdi-github"></i></a>
              </li>
            </ul>
          </div>
        </form>

        <footer class="footer footer-alt">
          <p class="text-muted">Đã có tài khoản? <a href="/#/login" class="text-muted ms-1"><b>Đăng nhập</b></a>
          </p>
        </footer>

      </div>
    </div>
  </div>
</div>
