<div class="auth-fluid">
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        <div class="auth-brand text-center text-lg-start">
          <a href="javascript:void(0)" class="logo-dark">
            <span><img ngSrc="assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
          <a href="javascript:void(0)" class="logo-light">
            <span><img ngSrc="assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
        </div>

        <h4 class="mt-0">
          Register Account
        </h4>
        <p class="text-muted mb-4">
          Get your free Quizz account now.
        </p>

        <form action="#">
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Enter your first name"
                   [(ngModel)]="model.firstName"
                   required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input class="form-control" type="text"
                   name="lastName"
                   [(ngModel)]="model.lastName"
                   id="lastName" placeholder="Enter your last name" required>
          </div>
          <div class="mb-3">
            <label for="emailaddress" class="form-label">Email </label>
            <input class="form-control" type="email"
                   name="email"
                   [(ngModel)]="model.email"
                   id="emailaddress" required placeholder="Enter your email">
            @if (error.field === 'email') {
            <div class="text-danger">
              Email is existed. Please try another email.
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password"
                   name="password"
                   [(ngModel)]="model.password"
                   required id="password" placeholder="Enter your password"
                   [minLength]="6">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="checkbox-signup" [(ngModel)]="hasCheckboxes"
                     id="checkbox-signup">
              <label class="form-check-label" for="checkbox-signup">I agree to all
                <a href="javascript: void(0);"
                   class="text-muted">
                  Terms & Conditions
                </a>
              </label>
            </div>
          </div>
          <div class="mb-0 d-grid text-center">
            <button class="btn btn-primary" type="submit" (click)="signUp()"><i class="mdi mdi-account-circle"></i> Đăng
              ký
            </button>
          </div>
          <!-- social-->
          <div class="text-center mt-4">
            <p class="text-muted font-16">Login with</p>
            <ul class="social-list list-inline mt-3">
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                  class="mdi mdi-facebook" (click)="loginWithSocial('fb')"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"
                   (click)="loginWithSocial('google')"><i
                  class="mdi mdi-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                  class="mdi mdi-twitter" (click)="loginWithSocial('twitter')"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                  class="mdi mdi-github" (click)="loginWithSocial('github')"></i></a>
              </li>
            </ul>
          </div>
        </form>

        <footer class="footer footer-alt">
          <p class="text-muted">Already have account? <a href="javascript:void(0)" class="text-muted ms-1"
                                                         (click)="navigateToLogin()"><b>Login</b></a>
          </p>
        </footer>

      </div>
    </div>
  </div>
</div>
