@if (!isPopupVisible()) {
  <app-page-title [data]="breadCrumbs"/>
}
<div class="row">
  <div [ngClass]="{'col-6': !isPopupVisible(), 'col-12': isPopupVisible()}">
    <div class="card m-0">
      @if (isPopupVisible()) {
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">{{ title() }}</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="closePopup()"></button>
        </div>
      }
      <div class=" card-body">
        <div class="row">
          <div class="col-xl-12">
            <div class="mb-3">
              <label class="form-label">Course code</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="courseSignal().courseCode"
                     placeholder="Enter subject name" required>
            </div>
          </div> <!-- end col-->
        </div>
        <!-- end row -->
        <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
      </div> <!-- end card-body -->
    </div> <!-- end card-->
  </div> <!-- end col-->
</div>
