<div class="auth-fluid">
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        <div class="auth-brand text-center text-lg-start">
          <a href="/#" class="logo-dark">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
          <a href="/#" class="logo-light">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
        </div>

        <!-- title-->
        <h4 class="mt-0">Login</h4>
        <p class="text-muted mb-4">
          Enter your email address and password to access website.
        </p>

        <!-- form -->
        <form>
          <div class="mb-3">
            <label for="emailaddress" class="form-label">Email / Student Id</label>
            <input class="form-control" type="email" name="email"
                   [(ngModel)]="loginPayload.email"
                   id="emailaddress" required
                   placeholder="Enter your email or student id">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password"
                   [(ngModel)]="loginPayload.password"
                   required id="password"
                   placeholder="Enter your password">
          </div>
          <div class="d-grid mb-0 text-center">
            <button class="btn btn-primary" type="submit" (click)="doLogin()"><i class="mdi mdi-login"></i> Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #forgetPassword>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Quên mật khẩu</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="handleClose()"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img ngSrc="/quizz-ui/src/assets/images/forgotPass.jpg" alt="forget-password" class="img" height="360"
             width="450"/>
        <h5>Quên mật khẩu</h5>
        <p style="color: red">*Lưu ý: Email này chỉ có hiệu lực trong vòng 48h</p>
      </div>
      <form class="form-forgot mt-2">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
          <input type="email" class="form-control" placeholder="Nhập Email của tài khoản quên mật khẩu"
                 name="email"
                 [(ngModel)]="paramForgetPassword.email" required/>
        </div>
        <div class="mb-3 d-flex flex-column align-items-center">
          <button type="button" class="btn btn-primary px-5 mb-3" style="background-color: #98154c; border-radius: 10px"
                  (click)="resetPassword()">Cấp lại mật khẩu
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
