<div class="auth-fluid">
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        <div class="auth-brand text-center text-lg-start">
          <a href="/" class="logo-dark">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
          <a href="/" class="logo-light">
            <span><img ngSrc="/assets/images/logo.jpg" alt="" height="50" width="50"></span>
          </a>
        </div>

        <!-- title-->
        <h4 class="mt-0">Đăng nhập</h4>
        <p class="text-muted mb-4">Nhập email và mật khẩu của bạn vào đây để đăng nhập.</p>

        <!-- form -->
        <form action="#">
          <div class="mb-3">
            <label for="emailaddress" class="form-label">Địa chỉ email</label>
            <input class="form-control" type="email" id="emailaddress" required="" placeholder="Nhập email">
          </div>
          <div class="mb-3">
            <a href="/" class="text-muted float-end"><small>Quên mật khẩu?</small></a>
            <label for="password" class="form-label">Mật khẩu</label>
            <input class="form-control" type="password" required="" id="password" placeholder="Nhập mật khẩu của bạn">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkbox-signin">
              <label class="form-check-label" for="checkbox-signin">Nhớ tôi</label>
            </div>
          </div>
          <div class="d-grid mb-0 text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Đăng nhập</button>
          </div>
          <!-- social-->
          <div class="text-center mt-4">
            <p class="text-muted font-16">Đăng nhập với</p>
            <ul class="social-list list-inline mt-3">
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                  class="mdi mdi-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                  class="mdi mdi-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                  class="mdi mdi-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                  class="mdi mdi-github"></i></a>
              </li>
            </ul>
          </div>
        </form>
        <!-- end form-->

        <!-- Footer-->
        <footer class="footer footer-alt">
          <p class="text-muted">Chưa có tài khoản? <a href="/#/register" class="text-muted ms-1"><b>Đăng ký</b></a></p>
        </footer>

      </div>
    </div>
  </div>
</div>
