<div class="row">
  <div class="col-12">
    <div class="card m-0">
      <div class="card-header">
        <h4 class="card-title">Student List</h4>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-12 d-flex align-items-center">
            <span class="me-2">Search:</span>
            <ng-select [items]="dataStudent"
                       class="w-100"
                       bindLabel="label"
                       bindValue="studentId"
                       [multiple]="true"
                       groupBy="selectedAllGroup"
                       [selectableGroup]="true"
                       placeholder="Select student"
                       [(ngModel)]="selectedStudent">
            </ng-select>
            <button type="button" class="btn btn-primary ms-3" (click)="addStudent()">Add</button>
            <input #fileInput type="file" class="d-none" name="file" (change)="onFileSelected($event)"
                   accept=".xls,.xlsx"/>
            <button type="button" class="btn btn-success ms-3" style="width: 250px;" (click)="fileInput.click()">
              <i class="mdi mdi-file-excel"></i> Import student
            </button>
          </div><!-- end col-->
        </div>

        <div class="table-responsive">
          <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
            <thead class="table-light">
            <tr>
              <th class="all">No</th>
              <th>Student ID</th>
              <th>Full name</th>
              <th>Email</th>
              <th style="width: 85px;">Action</th>
            </tr>
            </thead>
            <tbody>
              @for (item of data.contents; track item; let i = $index) {
                <tr>
                  <td>{{ ((data.page - 1) * data.size) + (i + 1) }}</td>
                  <td>
                    <p class="m-0 d-inline-block align-middle font-16">
                      {{ item.studentId }}
                    </p>
                  </td>
                  <td>{{ item.firstName }} {{ item.lastName }}</td>
                  <td>{{ item.email }}</td>
                  <td class="table-action" style="width: 15%;">
                    <a href="javascript:void(0);" class="btn btn-danger text-decoration-none" (click)="delete(item)"> <i
                      class="mdi mdi-minus-circle"></i>Delete</a>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td class="text-center" colspan="9">No records found.</td>
                </tr>
              }
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <pagination [totalItems]="data.totalRecords" [(ngModel)]="data.page" [itemsPerPage]="data.size"
                        [maxSize]="5"
                        [boundaryLinks]="true" [directionLinks]="true" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col -->
</div>

<ng-template #student_fail>
  <div class="alert alert-danger m-0" role="alert">
    <strong>List student add is exist: </strong> {{ listStudentFail?.join(', ') }}
  </div>
</ng-template>
